body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    text-decoration: none;
    color: #F9FAF8;
}